*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
main{
    height: 100vh;
    width: 100%;
}
main .container{
    height: 100vh;
    width: 100%;
    border: 1px solid;
}
main #container1{
    background-image: url("./assets/sea_water2.jpg");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
}
main #container1 .inner_cont1{
    width: 100%;
    height: 20vh;
    display: flex;
}
main #container1 #inner_container1{
    justify-content: right;
}
main #container1 #inner_container2{
    justify-content: left;
}
main #container1 #inner_container3{
    justify-content: right;
}
main #container1 #inner_container4{
    justify-content: right;
}
main #container1 #inner_container5{
    justify-content: left;
}
main #container1 .inner_cont1 img{
    width: 150px;
    height: 15vh;
    margin: 2.5vh -150px 2.5vh;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-duration: 18s;
}
main #container1 #inner_container1 img{
    animation-name: move_fish1;
}
main #container1 #inner_container2 img{
    animation-name: move_fish2;
    animation-delay: 500ms;

}
main #container1 #inner_container3 img{
    animation-name: move_fish3;
    animation-delay: 3000ms;
}
main #container1 #inner_container4 img{
    animation-name: move_fish4;
    animation-delay: 8000ms;
}
main #container1 #inner_container5 img{
    animation-name: move_fish5;
    animation-delay: 6000ms;
}
@keyframes move_fish1{
    form{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-1100%);
    }
}
@keyframes move_fish2{
    form{
        transform: translateX(0px);
    }
    to{
        transform: translateX(1100%);
    }
}
@keyframes move_fish3{
    form{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-1100%);
    }
}
@keyframes move_fish4{
    form{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-1100%);
    }
}
@keyframes move_fish5{
    form{
        transform: translateX(0px);
    }
    to{
        transform: translateX(1100%);
    }
}
main .incont{
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    align-items: center;
    padding: 0.5vh 20px;
    animation-name: header-background;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* box-shadow: 0px 0px 50px 0px; */
}

@keyframes header-background{
    10%{
        background-color: aquamarine;
        box-shadow: 0px 0px 50px 0px aquamarine;
    }
    30%{
        background-color: cadetblue;
        box-shadow: 0px 0px 50px 0px cadetblue;
    }
    50%{
        background-color: cornflowerblue;
        box-shadow: 0px 0px 50px 0px cornflowerblue;
    }
    70%{
        background-color: violet;
        box-shadow: 0px 0px 50px 0px violet;
    }
    90%{
        background-color: darkgoldenrod;
        box-shadow: 0px 0px 50px 0px darkgoldenrod;
    }
}
main .incont a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
}
main .incont #incont1{
    width: 200px;
    height: 4vh;
    display: flex;
    justify-content: space-between;
}
main .incont #incont1 p img{
    color:crimson;
    font-weight: bold;
    width: 25px;
    height: 25px;
    line-height: 4vh;
    cursor: pointer;
}

                        /* form 1 */
main #container2{
    height: 94vh;
    background-color: rgba(0, 0, 40, 0.5);
    border: 1px solid transparent;
    position: absolute;
}
main #container2 form{
    width: 50%;
    height: 80vh;
    margin: 10vh auto;
    padding: 2vh 1%;
    border-radius: 20px;
    background-color: rgba(0,0,0, 0.6);
    overflow-y: scroll;
    scrollbar-width: none;
}
main #container2 form .input_1{
    width: 100%;
    padding: 0.5vh 1%;
    color: white;
}
main #container2 form .input_1 input{
    background-color: rgba(0,0,0, 0.5);
}
main #container2 form .input_1 input{
    width: 100%;
    height: 5vh;
    outline: none;
    color: white;
    padding: 0vh 5px;
    border: none;
}
main #container2 form #input5 .radio_1{
    width: 40%;
    margin-left: 10%;
    display: flex;
    align-items: start;
}
main #container2 form #input5 .radio_1 input{
    height: 3vh;
}
main #container2 form #input9{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
main #container2 form #input9 input{
    width: 30%;
    height: 6vh;
    border: 1px solid white;
}
input[type="number"]{
    appearance: textfield;
}

                /* form 2 */
main #container3{
    height: 94vh;
    background-color: rgba(0, 0, 40, 0.5);
    border: 1px solid transparent;
    z-index: -1;
    display: none;
}
main #container3 form{
    width: 60%;
    height: 80vh;
    margin: 10vh auto;
    padding: 2vh 1%;
    border-radius: 20px;
    background-color: rgba(0,0,0, 0.6);
    overflow-y: scroll;
    scrollbar-width: none;
}
main #container3 form .input_21{
    width: 100%;
    padding: 0.5vh 1%;
    color: white;
}
main #container3 form .input_21 input{
    width: 100%;
    height: 5vh;
    outline: none;
    color: white;
    padding: 0vh 5px;
    border: none;
    background-color: rgba(100,90,90, 0.8);
}
main #container3 form #input21 #name_input{
    display: flex;
    justify-content: space-between;
}
main #container3 form #input21 #first_name{
    width: 49%;
}
main #container3 form #input21 #last_name{
    width: 49%;
}
main #container3 form #input23 #grade{
    width: 100%;
    height: 5vh;
    background-color: rgba(100,90,90, 0.8);
    outline: none;
    padding: 0vh 5px;
    border: none;
    color: white
}
main #container3 form #input25 #size{
    width: 100%;
    height: 5vh;
    background-color: rgba(100,90,90, 0.8);
    outline: none;
    padding: 0vh 5px;
    border: none;
    color: white
}
main #container3 form #input26 #name_input{
    display: flex;
    justify-content: space-between;
}
main #container3 form #input26 #first_name{
    width: 49%;
}
main #container3 form #input26 #last_name{
    width: 49%;
}

main #container3 form #input28{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
main #container3 form #input28 input{
    width: 30%;
    height: 6vh;
}
input[type="number"]{
    appearance: textfield;
}

                                        /* form 3 */

main #container4{
    height: 94vh;
    background-color: rgba(0, 0, 40, 0.5);
    border: 1px solid transparent;
    z-index: -1;
    display: none;
}
main #container4 form{
    width: 60%;
    height: 80vh;
    margin: 7vh auto;
    padding: 2vh 1%;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: rgb(248, 240, 240,0.5);
}
main #container4 form #mainInput3{
    width: 100%;
    height: 100vh;
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid transparent
}
main #container4 form #mainInput3 .input_31{
    width: 100%;
    height: 10vh;
    /* background-color: wheat; */
    display: flex;
    justify-content: space-between;
}
main #container4 form #mainInput3 #input31 .input_311{
    width: 48.5%;
    height: 10vh;
    /* background-color: azure; */
}
main #container4 form #mainInput3 #input31 .input_311 input{
    width: 100%;
    height: 7vh;
    padding: 10px;
    background-color: gray;
    border: none;
    outline: none;
    color: white;
    font-size: 3vh;
}
main #container4 form #mainInput3 #input32 .input_321{
    width: 48.5%;
    height: 10vh;
    /* background-color: azure; */
}
main #container4 form #mainInput3 #input32 .input_321 input{
    width: 100%;
    height: 7vh;
    padding: 10px;
    background-color: gray;
    border: none;
    outline: none;
    color: white;
    font-size: 3vh;
}
main #container4 form #mainInput3 #input33 .input_331{
    width: 48.5%;
    height: 10vh;
    /* background-color: azure; */
}
main #container4 form #mainInput3 #input33 .input_331 input{
    width: 100%;
    height: 7vh;
    padding: 10px;
    background-color: gray;
    border: none;
    outline: none;
    color: white;
    font-size: 3vh;
}
main #container4 form #mainInput3 #input34 .input_341{
    width: 25%;
    height: 10vh;
    /* background-color: azure; */
}
main #container4 form #mainInput3 #input34 #input341{
    width: 15%;
}
main #container4 form #mainInput3 #input34 .input_341 input{
    width: 100%;
    height: 7vh;
    padding: 5px;
    background-color: gray;
    border: none;
    outline: none;
    color: white;
    font-size: 3vh;
}
main #container4 form #mainInput3 #input35 .input_351{
    width: 25%;
    height: 10vh;
    /* background-color: azure; */
}
main #container4 form #mainInput3 #input35 #input351{
    width: 15%;
}
main #container4 form #mainInput3 #input35 .input_351 input{
    width: 100%;
    height: 7vh;
    padding: 5px;
    background-color: gray;
    border: none;
    outline: none;
    color: white;
    font-size: 3vh;
}
main #container4 form #mainInput3 #input36 .input_361{
    width: 48.5%;
    height: 10vh;
    /* background-color: azure; */
}
main #container4 form #mainInput3 #input36 .input_361 input{
    width: 100%;
    height: 7vh;
    padding: 10px;
    background-color: gray;
    border: none;
    outline: none;
    color: white;
    font-size: 3vh;
}
main #container4 form #mainInput3 #input37 .input_371{
    width: 48.5%;
    height: 10vh;
    /* background-color: azure; */
}
main #container4 form #mainInput3 #input37 .input_371 input{
    width: 100%;
    height: 7vh;
    padding: 10px;
    background-color: gray;
    border: none;
    outline: none;
    color: white;
    font-size: 3vh;
}
main #container4 form #mainInput3 #input38 .input_381{
    width: 48.5%;
    height: 10vh;
    /* background-color: azure; */
}
main #container4 form #mainInput3 #input38 .input_381 input{
    width: 100%;
    height: 7vh;
    padding: 10px;
    background-color: grey;
    border: none;
    outline: none;
    color: white;
    font-size: 3vh;
}
main #container4 form #mainInput3 #input39{
    align-items: center;
    justify-content: center;
}
main #container4 form #mainInput3 #input39 input{
    width: 30%;
    height: 6vh;
    margin-right: 20px;
    border: 1px solid black;
    text-transform: uppercase;
}